<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devrik.freemockwalauidesign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/online_test"
        android:label="FreemockWalaUiDesign"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreemockWalaUiDesign">
        <activity android:name=".Activity.ViewMySolutionTest"></activity>
        <activity android:name=".Activity.ViewTestMyPerformance" />
        <activity
            android:name=".TestCategoryActivity"
            android:exported="true" />

        <activity
            android:name=".ExamCategoryScreen"
            android:exported="true" />

        <activity
            android:name=".HomeExamActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".SignInActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:exported="true">



        </activity>
    </application>

</manifest>